/*
primary: #ff4081;
p-light: #ff79b0;
p-dark: #c60055;
secondary: #00000 #00e676;
s-light: #66ffa6;
s-dark: #00b248;
*/

/* global styles */
body {
    background-color: #ff4081;
}

h1,
h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 72px;
}

li {
    display: inline-block;
    margin: 
}

a {
    font-size: 36px;
}

img {
    margin-left: 1.5%;
}

/* header styles */
header li {
    margin: 0 10px;
}

header li:first-of-type {
    margin-left: 0;
}

/* footer styles */
footer a {
    font-size: 64px;
    margin: 0 15px;
}

